/* General styling */
body {
    background-color: #f8f9fa;
    color: #333;
}




/* Navbar styling */
.navbar {
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 4px 15px rgba(0, 0, 0, 0.1); /* 3D shadow effect */
    background: linear-gradient(145deg,  #b1f1ff, #ffffff); /* Subtle gradient for depth */
    padding: 5px 20px; /* Adds space around the navbar for emphasis */
    margin-top: 8px;
}

.navbar-nav {
    align-items: center;
    margin-left: 5%;
    margin-right: 40%;
    width: 100%;
    justify-content: space-between;
    position: sticky;
}

.navbar-nav .nav-link {
    color: #045f73;
    font-size: large;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
}

.navbar-nav .nav-link:hover {
    color: darkred; /* Optional: darkens color when hovered */
}









/* Jumbotron styling */
.jumbotron-margin {
    margin-top: 80px;
}

#home_jumbotron_head {
    color: #042962;
}
#home_jumbotron_para {
    color: #045f73;
    font-size: large;
}







/* Services section styling */
.services-section {
    background-color: #f0f0f0;
    padding: 40px 0;
}

.services-section button{
    background-color: #045f73;
}

.service-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.service-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.service-card .card-body {
    padding: 20px;
}

.service-card .btn {
    margin-top: 15px;
}

.service-card h4 {
    color: #042962;
}

.service-card p {
    color: #045f73;
}





/* Sitemap and Footer styling (same as homepage) */

.sitemap {
    padding: 20px 0;
    background-color: #e9ecef;
    color: #555;
}

.sitemap ul {
    list-style-type: none;
    padding: 0;
}

.sitemap ul:hover {
    color: darkred; /* Optional: darkens color when hovered */
}

.sitemap h4 {
    font-weight: bold;
    color: #042962;
}

.sitemap a {
    font-weight: bold;
    color: #045f73;
}

.sitemap a:hover {
    font-weight: bold;
    color: darkred;
}






.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}



.custom-jumbotron-gap {
    margin-top: 150px;
    margin-bottom: 75px;
}

.custom-sitemap-gap {
    margin-top: 50px;
    margin-bottom: 30px;
}